/*====Mobile: 375px;====*/
/*====Desktop: 1440px;====*/


@media(max-width: 1440px){
  .container{
    min-width: 800px;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url(/images/bg-pattern-desktop.svg);



  }
}

@media(max-width: 375px){
  .container{
    min-width: 320px;
    background-image: url(/images/bg-pattern-mobile.svg);

  }
}
