/*====Mobile: 375px;====*/
/*====Desktop: 1440px;====*/


@media(max-width: 1440px){
  .container{
    min-width: 800px;

    .card{
      background-image:url(/images/bg-pattern-desktop.svg);
      background-size:contain;
      background-position: left center;
    }
  }
}

@media(max-width:375px){
  .container{
    min-width:320px;
  }
}
