
/*====Desktop: 1440px;====*/

@media(max-width: 1440px){
  .container{
    min-width: 800px;


    .card{
      width:900px ;
      height: 510px;
      flex-direction: $row;
      background-image:url(/images/bg-pattern-desktop.svg);
      background-size:cover;
      background-position: left center;
    }
  }
}


/*====Mobile: 375px;====*/

// @media(max-width:375px) {
//   .container {

//     .card{
//       width: 327px;
//       height: 535px;
//       background-size: 230px 230px;
//       background-position:50px -130px;


//     }


//   }
// }

