

/*====Desktop: 1440px;====*/

@media(min-width:1000px){
    .container{
      min-width: 1440px;


    .card{
      width: 900px;
      height: 510px;
      flex-direction: $row;
      background-size:contain;
      background-position: left center;

      &__header{

        width: 472px;
        height: 358px;
        transform: translateX(-130px);

      }

      &__body{
        width: 428px;
        transform: translateY(0);

      }
    }

  }
}
