/*====grid====*/
@mixin grid($placeItemss) {

  display: grid;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;

}