/*====grid====*/
@mixin grid($justify, $align) {

  display: grid;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex ($justify,$align, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;

}