/*====primary color====*/
/*====text-color====*/

$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

/*====background -gradient====*/

$gradientSoftViolet: hsl(273, 75%, 66%) ;
$gradientSoftBlue: hsl(240, 73%, 65%);

/*====Neutral color====*/
/*====text-color====*/

$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);
